$field-aspect-ratio: 1.54;
$field-background-color: #7ba880;

// tiles for one team
$field-vertical-tiles-count: 6;
$field-horizontal-tiles-count: 7;

$field-tile-width: 100% / $field-horizontal-tiles-count;
$field-tile-height: 100% / $field-vertical-tiles-count;

$field-line-color: #ffa400;
$field-line-size: 4px;
$field-line-border: $field-line-size solid $field-line-color;

$field-middle-circle-width: 25%;
$field-middle-circle-height: $field-middle-circle-width / $field-aspect-ratio;
$field-middle-circle-dot-width: 7%;
$field-middle-circle-dot-height: $field-middle-circle-dot-width / $field-aspect-ratio;

$field-corner-width: 8%;
$field-corner-height: $field-corner-width / $field-aspect-ratio;
$field-corner-offset-x: -5%;
$field-corner-offset-y: $field-corner-offset-x / $field-aspect-ratio;

$field-goal-width: 24%;
$field-goal-height: 4%;

$field-penalty-box-width: 55%;
$field-penalty-box-height: 14%;
$field-penalty-box-dot-width: 1%;
$field-penalty-box-dot-height: $field-penalty-box-dot-width / $field-aspect-ratio;