$aspect-ratio: 1.54;
$background-color: #356f16;

$line-color: #c4d6ce;
$line-size: 2px;
$line-border: $line-size solid $line-color;

$middle-circle-width: 25%;
$middle-circle-height: $middle-circle-width / $aspect-ratio;
$middle-circle-dot-width: 7%;
$middle-circle-dot-height: $middle-circle-dot-width / $aspect-ratio;

$corner-width: 3%;
$corner-height: $corner-width / $aspect-ratio;
$corner-offset-x: -1px;
$corner-offset-y: $corner-offset-x / $aspect-ratio;

$goal-width: 24%;
$goal-height: 4%;

$penalty-box-width: 55%;
$penalty-box-height: 14%;
$penalty-box-dot-width: 1%;
$penalty-box-dot-height: $penalty-box-dot-width / $aspect-ratio;