@mixin shadow() {
  text-shadow: 2px 0 12px #000;
}

.wrapper {
  width: 100%;
  height: 8%;
  z-index: 5;
  padding: 1% 2%;
  background: #000;
  user-select: none;
}

.form {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.nameField > input {
  color: #fff !important;
  width: 100% !important;
}


.name {
  color: #fff;
  font-size: 2.2vmin;
  white-space: nowrap;
  opacity: 0.8;
  cursor: text;
  @include shadow;
}

.goals {
  color: #ad522e;
  font-size: 3.5vmin;
  margin-right: 3%;
  font-weight: bold;
  @include shadow;
}


.tacticSelect {
  margin-left: 10px !important;
}
