@import '../variables';

.wrapper {
  transition: left 1s ease, top 1s ease;
  z-index: 4;
  cursor: grab;
};

.isDragging {
  opacity: $dragged-player-opacity;
}

.dropTarget {
  composes: dropTarget from '../TeamGrid.scss';
  padding: 10%;
}