@import '../variables';

.wrapper {
  transition: left 1s ease, top 1s ease;
  z-index: 4;
  cursor: grab;
};

.isDragging {
  opacity: $dragged-player-opacity;
}

.dropTarget {
  opacity: $drop-target-opacity;
  border: $drop-target-border;
}