.wrapper {
  max-width: 350px;
  padding: 10px;
  text-align: center;
  background: #000 !important;
  opacity: 0.8 !important;

  > div {
    height: 100% !important;
    overflow: hidden;
  }
}

.textField {
  margin: 0 5px;

  > input {
    color: #fff !important;
  }

  > label {
    color: #42b5d0 !important;
  }
}

.numberField {
  composes: textField;
  width: 15% !important;
}

.ratingField {
  composes: textField;
  width: 15% !important;
}

.nameField {
  composes: textField;
  width: 55% !important;
  margin-left: 5%;
}

.list {
  > li {
    display: inline-block;
    width: 90px;
  }

  .fullWidth {
    width: 100%;
  }
}

.card {
  display: inline-block;
  height: 20px;
  width: 14px;
}

.ball {
  height: 52%;
}

.button[disabled] {
  visibility: hidden;
}

.goals {
  color: #fff;

  > .list {
    list-style-type: none;
    width: 100%;
    margin: 10px;

    > li {
      width: 100%;
      text-align: left;
      display: flex;
      align-items: center;

      > div {
        padding: 5px;
      }
    }
  }
}

.minute {
  width: 50px !important;
  margin-right: 10px;

  input {
    color: #fff !important;
  }
}

.smallIcon {
  font-size: 0.8rem !important;
  margin-right: 20px;
}

.players {
  .select {
    width: 120px !important;
  }

  display: flex;
  align-items: center;
}
