@import '../../assets/styles/media';

.wrapper {
  padding: 10px;
  min-width: 190px;
}

.teamName {
  font-size: 1.2rem;
  padding-bottom: 10px;
  text-align: center;
}

.playerList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;

  .addPlayer {
    padding-top: 10px;
    min-width: 75px;
    min-height: 75px;
    text-align: center;
  }
}
