.bench {
  border: 1px solid black;
  height: 50%;
}

.list {
  background: #c7c1c1;
  display: flex;
  flex-direction: column;
}

.listItem {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.teamName {
  font-size: 1.2rem;
  padding: 10px;
}
