@import '../TeamGrid/variables';

.wrapper {
  transition: transform 1s ease;
  z-index: 4;
  cursor: grab;
};

.isDragging {
  opacity: $dragged-player-opacity;
}

.dropTarget {
  composes: dropTarget from '../TeamGrid/TeamGrid.scss';
  padding: 10%;
}