.wrapper {
  position: absolute;
  width: 30%;
  height: 10%;
  z-index: 3;
  padding: 1% 2%;
  display: inline-flex;
  align-items: center;
}

.wrapper:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.body {
  position: relative;
}

.tacticSelect {

}

.goals {
  color: #ad522e;
  font-size: 3.5vmin;
  margin-right: 7%;
  font-weight: bold;
}

.name {
  color: #fff;
  font-size: 2.2vmin;
  white-space: nowrap;
  opacity: 0.6;
}

.colors {
}

.home {
  top: 0;
}

.away {
  bottom: 0;
}