.wrapper {
  & > div {
    margin-bottom: 2%;
  }
}

.shirtColorOptions {
  display: flex;
  flex-direction: row;
  margin: 4% 0;

  & > div {
    width: auto !important;
    padding-right: 5%;
  }
}

.player {
  width: 100px;
  height: 100px;
  padding: 0;
  z-index: 2;
  margin: 75px auto;
}

.playerPreview {
  width: 150px;
  margin-left: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px, rgba(0, 0, 0, 0.3) 0 4px 8px;
}

.colorPicker {
  display: flex;
}