.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 3%;
}

.shirt {
  width: 50%;
  height: 50%;
  text-align: center;
  font-size: 1.5vmin;
  border: 4px groove;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.name {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 0.8vmin;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%,
          #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  border-radius: 5px;
  color: #fff;
  padding: 4px;
}

.rating {
  position: absolute;
  top: 0;
  background: #54b33a;
  width: 30%;
  height: 17%;
  padding: 2%;
  text-align: center;
  font-weight: bold;
  font-size: 1vmin;
  color: #000;
  border-radius: 30%;
  border: 1px solid #6f6f6f;
}

.ratingMax {
  composes: rating;
  background: #d2ff52;
  background: linear-gradient(to bottom, #d2ff52 0%, #91e842 100%);
}

.ratingHigh {
  composes: rating;
  background: #88e228;
  background: linear-gradient(to bottom, #88e228 0%, #4c9400 100%);
}

.ratingAvg {
  composes: rating;
  background: #f1f165;
  background: linear-gradient(to bottom, #f1f165 0%, #fec343 100%);
}

.ratingLow {
  composes: rating;
  background: #ff3019;
  background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
}

.cards {
  position: absolute;
  left: 2%;
  bottom: 36%;
  width: 30%;
  height: 15%;

  & > .yellowCard:nth-of-type(2) {
    margin-left: -15%;
    border-left: 1px solid #cbc100;
  }
}

.card {
  display: inline-block;
  top: 0;
  width: 27%;
  height: 100%;
  margin: 5%;
}

.redCard {
  composes: card;
}

.yellowCard {
  composes: card;
}

.balls {
  top: 0;
  height: 100%;
  position: absolute;

  & > span {
    font-size: 1.1vmin !important;
    display: block !important;
  }
}

.assists {
  composes: balls;
  right: 15%;
}

.goals {
  composes: balls;
  right: 0;
}