.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.shirt {
  width: 60%;
  height: 60%;
  text-align: center;
  font-size: 1.5vmin;
  border: 6px groove;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.name {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1vmin;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #000;
  border-radius: 5px;
  color: #fff;
  padding: 2px;
}